<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sass layout</title>
	<link rel="stylesheet" type="text/css" href="css/css/index.css"/>
</head>
<body>
	<div id="layout1">
		<h1>左侧固定宽 ，右侧自适应屏幕宽</h1>
		<div class="wrap">
			<div class="rightWrap">
				<div class="content"></div>
			</div>
			<div class="leftWrap">
				<div class="content"></div>
			</div>
		</div>
	</div>
	
	<div id="layout2">
		<h1>左右两列要求有最小高度，例如：200px;（当内容超出200时，会自动以等高的方式增高）</h1>
		<div class="wrap">
			<div class="rightWrap">
				<div class="content"></div>
			</div>
			<div class="leftWrap">
				<div class="content"></div>
			</div>
		</div>
	</div>


</body>
</html>